body {
  font-family: "Poppins", sans-serif;
}

#top-navbar .navbar-brand {
  font-size: 1.563rem;
  font-weight: 600;
}

#navbarNav a {
  font-weight: 600;
  color: #858585;
}

#navbarNav a:hover {
  color: #000;
  border-bottom: 2px solid #95C425;
}

#intro-container-carousel .carousel-item {
  height: 700px;
}

#intro-container-carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}

#intro-container-form {
  background-color: #000;
}

#intro-container-form h1 {
  color: #fff;
}

#intro-container-form label {
  color: #fff;
}

#intro-container-form input {
  display: block;
}